@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');

:root
{
    --yellow:#F6C90E;
    --black:#192a56;
    --light-color:#666;
    --box-shadow:0 .5rem 1.5rem rgba(0,0,0,.1);
}
*
{
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border:none;
    text-transform: capitalize;
    transition: all .2s linear;
}
html
{
    font-size:68%;
    overflow-x: hidden;
    scroll-padding-top: 5.5rem;
    scroll-behavior: smooth;
}

#pagecontent
{
    display: none;
}
#loader
{
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 300px;
    height: 300px;
}
#loader img
{
    width: 300px;
}
header
{
    padding: 1rem 7%;
    align-items: center;
    display: flex;
    justify-content: space-between;
    z-index: 1000;
}
header nav
{
    box-shadow: var(--box-shadow);
    color: black;
    position: fixed;
    background-color: white;

}
ul a
{
 font-size :1.5rem;
 color:var(--light-color);
 border-radius: .5rem;
}
.menu h2{
    font-weight: bold;
    letter-spacing: 2px;
    padding-bottom: 10px;
    margin-top: 50px;
}
