@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');

:root
{
    --yellow:#F6C90E;
    --black:#192a56;
    --light-color:#666;
    --box-shadow:0 .5rem 1.5rem rgba(0,0,0,.1);
}
*
{
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    text-transform: capitalize;
    transition: all .2s linear;
}
html
{
    font-size:68%;
    scroll-padding-top: 5.5rem;
    scroll-behavior: smooth;
   
}
body
{
    padding: 50px 0px 0px 0px;
    z-index: 0;
    overflow-x: hidden;
}
#pagecontent
{
    display: none;
}
#loader
{
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 300px;
    height: 300px;
}
#loader img
{
    width: 300px;
}
nav
{
    box-shadow: var(--box-shadow);
    color: black;
    position: fixed;
    background-color: white;
}
ul a
{
 font-size :1.5rem;
 color:var(--light-color);
}
header
{
    padding: 1rem 7%;
    align-items: center;
    display: flex; 
    justify-content: space-between; 
     z-index: 1000;
}

.row-header{
    margin:0px auto;
    padding:0px;
}

.row-content {
    margin:0px auto;
    padding: 50px 0px 50px 0px;
    border-bottom: 1px ridge;
    min-height:400px;
}
.special h1
{
color: #F0A500;
font-weight: bolder;
}
.special p
{
font-size:1.4rem;
}
.special .fbtn
{
border-radius:25px;
}
.mysection h3
{
    font-weight: bold;
    font-size:2.5rem;
}
.working-box
{
    padding:30px;
}
.working i{
    width:150px;
    height:150px;
    border-radius:75px;
    padding-top:40px;
}
.working p{
    font-size:1.3rem;
    padding:10px;
    font-weight: bold;
}
.aboutresto h2
{
    font-weight: bold;
    font-size:30px;
}
.aboutresto p{
    padding-top:10px;
    font-size:17px;
}
.aboutresto li{
    font-size: 15px;
}
.aboutresto button
{
    margin-top: 15px;
}
.mycard
{
background-color:#303841;
border-radius: 20px;
}
.mycard h5{
    font-weight: bold;
}
.aboutus h3
{
    font-weight: bold;
    font-size: 2.5rem;
}
.dishes h3
{
font-size: 2.5rem;
font-weight: bold;
}

